<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/stars.css">
<%if(currentUser && currentUser.username === process.env.MASTER_USER){%>
    <h1 id="head" class="offset-4 mb-3">Welcome Supreme User !!</h1>
<%}%>
<div id="cluster-map" class="shadow"></div>
    
    <h1>List of all the Campgrounds</h1>
    <br>
    <%for(let camp of allCamps){%>
        <div class="card mb-3" id="box">
            <div class="row">
                <div class="col-md-4">
                        <img src="<%=camp.image[0].url%>" alt="" class="img-fluid img-thumbnail" id="img">
                </div>
                
                <div class="col-mg-8 col-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div id="containtitle">
                            <%=camp.title%>
                            <%if(currentUser){%>
                                <form action="/<%=currentUser._id%>/favourite/<%=camp._id%>?q=0" method="post" class="d-inline">
                                   <%if(currentUser.favourite.indexOf(camp._id) !== -1){%>
                                      <button class="heart-like-button-two" id="heart"></button>
                                   <%}else{%>
                                      <button class="heart-like-button" id="heart"></button>
                                   <%}%>
                                </form>
                                <%}%>
                            </div>
                            <p class="starability-result" data-rating="<%= camp.rating%>">
                                Rated: 3 stars
                              </p>
                            <div class="offset-1 mb-2">
                                <small class="card-text">
                                    <%=camp.description%>
                                </small>
                            </div>
                                <p class="card-text">
                                    <p class="text-muted d-inline">
                                        <%=camp.location%>
                                    </p>
                                    <%="\u20B9"%>
                                    <big>
                                        <%=camp.price%>
                                    </big>
                                </p>
                                <a href="/campgrounds/<%=camp._id%>" class="btn btn-primary">View</a>
                                <%if(currentUser){%>
                                <form action="/<%=currentUser._id%>/checklist/<%=camp._id%>?q=0" method="post" class="d-inline">
                                    <button class="btn btn-success">Add To Cart</button>
                                </form>
                                <%}%>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
        <script>
            const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
            const campground = {features: <%-JSON.stringify(allCamps)%>}
          </script>
        <script src="javascripts/clustermap.js"></script>