<% layout('layouts/Boilerplate') %>
<%if(currentUser && currentUser.username === process.env.MASTER_USER){%>
    <h1 id="head" class="offset-4 mb-3">Welcome Supreme User !!</h1>
<%}%>
<div id="cluster-map" class="shadow"></div>
    <h1>List of all the Campgrounds</h1>
    <br>
    <%for(let camp of allCamps){%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                        <img src="<%=camp.image[0].url%>" alt="" class="img-fluid">
                </div>
                
                <div class="col-mg-8 col-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=camp.title%>
                                <p class="card-text">
                                    <%=camp.description%>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <%=camp.location%>
                                    </small>
                                    <big>
                                        $<%=camp.price%>
                                    </big>
                                </p>
                                <a href="/campgrounds/<%=camp._id%>" class="btn btn-primary">View</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
        <script>
            const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
            const campground = {features: <%-JSON.stringify(allCamps)%>}
          </script>
        <script src="javascripts/clustermap.js"></script>